*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: black;
}

.box{
    box-sizing: border-box;
    position:relative;
}
.box2{
    display: flex;
    justify-content:space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.menu, h3:hover{
    color: white;
    background-color: black;
}
.menu,h3:active{
    transform: scale(0.96) ;
}
.menu{
    color: black;
    text-decoration:none;
}


.Kant{
    background-color: white;
    outline-width: thick;
    outline-color: white;
    outline-style: solid;
    outline-offset: 4px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    padding: 0%;
    height: 20%;
}
.Bentham{
    background-color: white;
    outline-width: thick;
    outline-color: white;
    outline-style: solid;
    outline-offset: 4px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    padding: 0%;
    height: 20%;
}

table {
    border-collapse:collapse;
    border: 5px solid #696969;
    margin-top: 10%;
  }

th{
    padding: 20px 30px;
    text-align: center;
    background-color: #ffffff;
    
  }


  td{
    padding: 20px 30px;
    text-align: center;
    background-color: #000000;
  }
