*,
*::before,
*::after{
    box-sizing: border-box;
}

.box{
    box-sizing: border-box;
    position:relative;
}
.box2{
    display: flex;
    justify-content:space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.p1{
  color:#14213D;
}
.p2{
  color:#FCA311;
}

.p1,
.p2{
  font-size: 120%;
}

.Bentham,
.Kant{
    background-color: white;
    outline-width: thick;
    outline-color: white;
    outline-style: solid;
    outline-offset: 4px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    padding: 0%;
    height: 20%;
}


table {
    border-collapse:collapse;
    border: 5px solid #696969;
    margin-top: 10%;
  }

th{
    padding: 20px 30px;
    text-align: center;
    background-color: #FCA311;
    
  }


  td{
    padding: 20px 30px;
    text-align: center;
    background-color: #14213D;
  }

  @media only screen and (max-width: 600px) {

    
    .box2{
      display:flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
      box-sizing: border-box;
      align-items: center;
      margin: 5%;
      position:relative;
      margin: auto;
      -ms-transform:initial;
      transform: initial;
  }

.Bentham,
.Kant{
  width: 80%;
  padding: 0%;
  height: 20%;
  margin-top: 5%;
  margin-bottom: 2.5%;
  margin-right: 10%;
}
table {
  border: 3px solid #696969;
}
td,
th{
  padding: 10px 15px;
  
}
.meter{
  margin-bottom: 2.5%;
  margin-right: 11.5%;
}
h3{
  margin-top: 5%;
  width: 75%;
}
}
