*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: black;
}

.box{
    box-sizing: border-box;
    position:relative;
}
.box2{
    display: flex;
    justify-content:space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}
.person{
    background-color: white;
    outline-width: thick;
    outline-color: white;
    outline-style: solid;
    outline-offset: 4px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    padding: 0%;
    height: 20%;
}
img{
    height: 220px;
    width:  175px;
}