*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: black;
}

.box{
    box-sizing: border-box;
    position:relative; /* or absolute */
}
.box2{
    display: flex;
    justify-content:space-between;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
}

.menu, h3:hover{
    color: white;
    background-color: black;
}
.menu,h3:active{
    transform: scale(0.96) ;
}
h1{
    background-color: white;
    outline-width: thick;
    outline-color: white;
    outline-style: solid;
    outline-offset: 4px;
    border-radius: 10px;
    text-align: center;
    font-size: 300%;
    margin-top: 5%;
    width: 20%;
    margin: 2.5% auto 0;
}
h2{
    font-size:250%;
}
h3{

    outline-width: thick;
    outline-color: white;
    outline-style: solid;
    outline-offset: 4px;
    border-radius: 10px;
    font-size: 200%;
    text-align: center;
    padding: 1.5%;
    margin: 4.5% auto 0;
    width: 20%;
    background-color: white;
}
.menu{
    color: black;
    text-decoration:none;
}

p{
    font-size: 100%;
}

.Kant{
    background-color: white;
    outline-width: thick;
    outline-color: white;
    outline-style: solid;
    outline-offset: 4px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    padding: 0%;
    height: 20%;
}
.Bentham{
    background-color: white;
    outline-width: thick;
    outline-color: white;
    outline-style: solid;
    outline-offset: 4px;
    border-radius: 10px;
    text-align: center;
    width: 20%;
    padding: 0%;
    height: 20%;
}

table {
    border-collapse:collapse;
    border: 5px solid #696969;
    margin-top: 10%;
  }

th{
    padding: 20px 30px;
    text-align: center;
    background-color: #ffffff;
    
  }


  td{
    padding: 20px 30px;
    text-align: center;
    background-color: #000000;
  }
