*,
*::after {
    box-sizing: border-box;
}


.box {
    position: relative;
    align-items: center;
    margin: 5% auto;
    width: 80%;
}

.box2 {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 100%;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}


table {
    border-collapse: collapse;
    border: 4px solid gray;
    margin-top: 0%;
}

td {
    padding: 10px;
    text-align: center;
    border: 2px solid #696969;
}

.kl {
    background-color: red;
}

.kp {
    background-color: blue;
}

.ll {
    background-color: springgreen;
}

.lp {
    background-color: yellow;
}

.firstC {
    border: 5px solid white;
}
