body{
    background-color: black;
    margin-top: 150px;
}

button{
    background-color: white;
    outline-width: thick;
    outline-color: white;
    outline-style: solid;
    outline-offset: 5px;
    border-radius: 10px;
    font-size: 150%;
    text-align: center;
    text-decoration: none;
    color:black;
    width: 20%;
    padding:1px;
    margin: 50px;
}

button:hover{
    color: white;
    background-color: black;
}
button:active{
    transform: scale(0.96) ;
}

.answ{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 600px) {
    body{
        margin-top: 20%;

}

    h5{
        width: 75%;
        border-radius: 10px;
        font-size: 120%;
        outline-offset: 5px;
        margin-top: 15%;
    }
    button{
        outline-offset: 5px;
        border-radius: 10px;
        font-size: 100%;
        width: 30%;
        padding:1px;
        margin-left: 7.5%;
        margin-right: 7.5%;
    }

    .answ{
    margin-top: 0%;
    }



}