*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    background-color: black;
    margin: 0;
}

.box{
    position: relative;
    align-items: center;
    margin: 5% auto;
    width: 80%;
}
.box2{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: auto;
    width: 100%;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
}

.menu, h3:hover{
    color: white;
    background-color: black;
}
.menu,h3:active{
    transform: scale(0.96) ;
}
h1{
    background-color: white;
    outline-width: thick;
    outline-color: white;
    outline-style: solid;
    outline-offset: 4px;
    border-radius: 10px;
    text-align: center;
    font-size: 300%;
    margin-top: 5%;
    width: 20%;
    margin: 2.5% auto 0;
    margin-bottom: 5%;
}
h2{
    font-size:250%;
}
h3{

    outline-width: thick;
    outline-color: white;
    outline-style: solid;
    outline-offset: 4px;
    border-radius: 10px;
    font-size: 200%;
    text-align: center;
    padding: 1.5%;
    margin: 4.5% auto 0;
    width: 20%;
    background-color: white;
}
.menu{
    color: black;
    text-decoration:none;
}

p{
    font-size: 100%;
}

table {
    border-collapse:collapse;
    border: 4px solid gray;
    margin-top: 0%;
  }


  td{
    padding: 10px 10px;
    text-align: center;
    border: 2px solid #696969;
  }
  
  .kl{
    background-color: red;
  }
  .kp{
    background-color: blue;
  }

.ll{
    background-color: springgreen;
}
.lp{
    background-color: yellow;
}

.firstC{
    border: 5px solid white;
}

